<div class="landing-page" style="background-image: url('<%= asset_path("home_page_background.jpeg") %>');">
    <div class="home-container">
        <h1>Awesome Garage</h1>
        <h4>All your favorite cars</h4>
        <h3><%= link_to "Enter", cars_path, class: "btn-enter" %></h3>
    </div>
</div>
